{{ $title := (.Get "title") }}

{{ $alt := .Get "alt" | default (.Get "title") }}

{{ $img := $.Page.Resources.GetMatch (.Get "src") }}

{{ $rotate := (or (.Get "rotate") "0") }}

{{ $img640x := $img.Resize (printf "%s r%s" "640x" $rotate) }}
{{ $img768x := $img.Resize (printf "%s r%s" "768x" $rotate) }}
{{ $img1024x := $img.Resize (printf "%s r%s" "1024x" $rotate) }}
{{ $img1600x := $img.Resize (printf "%s r%s" "1600x" $rotate) }}

<img src="{{ $img1024x.RelPermalink }}"
     alt="{{ $alt }}" title="{{ $title }}"
     srcset="{{ $img640x.RelPermalink }} 640w,
          {{ $img768x.RelPermalink }} 768w,
          {{ $img1024x.RelPermalink }} 1024w,
          {{ $img1600x.RelPermalink }} 1600w"
     sizes="(max-width: 640px) 640px,
          (min-width: 640px) and (max-width: 768px) 768px,
          (min-width: 768) and (max-width: 1024px) 1024px,
          (min-width: 1600px) 1600px"
/>
